@page "/"

<PageTitle>Home</PageTitle>

@using Blazor.Diagrams.Components

<div class="diagram-container">
    <CascadingValue Value="Diagram" IsFixed="true">
        <DiagramCanvas>
            <AdditionalHtml>
                <!-- EXTRA HTML -->
            </AdditionalHtml>
            <AdditionalSvg>
                <!-- EXTRA SVG -->
            </AdditionalSvg>
        </DiagramCanvas>
    </CascadingValue>
</div>
